
doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        title Txtileros
        link(rel="stylesheet" href="public/home.css")
        <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
        <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    body
        .modalImg
            <ion-icon id="closeModalImg" name="close-circle-outline"></ion-icon>
            img(src="", alt="Imagen Seleccionada")
        .loader
            .blob
        .modalPub
            <ion-icon id="closeModal" name="close-circle-outline"></ion-icon>
            h1 Publicar
            form(action="publicate.php" method="POST" enctype="multipart/form-data" id="publish")
                textarea(rows="4" placeholder="Escribe un mensaje..." name="text" maxlength="250")
                input#filePubImg(type="file" hidden accept="image/*" name="image")
                input#filePubDoc(type="file" hidden accept="application/msword, application/vnd.ms-excel, application/vnd.ms-powerpoint, text/plain, application/pdf" name="document")
                input#categoria(type="text" hidden name="category")
                .btns
                    label(for="filePubImg")
                        <ion-icon name="images"></ion-icon>
                        p imágen
                    label(for="filePubDoc")
                        <ion-icon name="document-text"></ion-icon>
                        p Documento
                button Publicar 
        header
            nav
                h1 TX
                .navIcons
                    <ion-icon id="addPub" style="color:#8f03ec;font-size:2rem" name="add-circle"></ion-icon>
                    <ion-icon name="search"></ion-icon>
                    <ion-icon name="notifications"></ion-icon>
                    <ion-icon name="person-circle"></ion-icon>
            .tabs
                div(class="tab activeTab" tab="todos")
                    <ion-icon name="people"></ion-icon>
                    p Todos
                div(class="tab" tab="maria")
                    <ion-icon name="time"></ion-icon>
                    p María
                div(class="tab" tab="ayelen")
                    <ion-icon name="color-palette"></ion-icon>
                    p Ayelen
                div(class="tab" tab="melina")
                    <ion-icon name="bar-chart"></ion-icon>
                    p Melina
                div(class="tab" tab="vicky")
                    <ion-icon name="shirt"></ion-icon>
                    p vicky
                div(class="tab" tab="erika")
                    <ion-icon name="cut"></ion-icon>
                    p Erika
                div(class="tab" tab="ingles")
                    <ion-icon name="text"></ion-icon>
                    p Inglés
        main
            .container



        script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js") 
        script(src="home.js") 